{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- use send to value in index.js -->
<input type="hidden" value="{{ username }}" id="username">
<!-- send crsf _token in index.js for form -->


<div class="container mt-5">

    <div class="col-10 pt-5 pb-5 " style="font-style:georgia;">
        <h1 class="offset-1" style="font-family: Georgia, 'Times New Roman', Times, serif;">Welcome To Instatweer </h1>
    </div>


    <button type="button" class="btn  d-flex w-50 justify-content-center bg-light shadow-sm p-3 btn-white"
        data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-pencil-square-o" aria-hidden="true"> I want do a post </i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tweet Here..</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="create_tweet" class="form-group p-3" action="/tweet/form/" method="POST"
                        enctype="multipart/form-data">
                        <div id="tweet_error"> </div>
                        {% csrf_token %}
                        <label for="image_file"> <i class="fa fa-pencil-square-o" aria-hidden="true"> Upload img.. </i>
                        </label>
                        <input type="file" id="image_file" name="image" accept="image/*" id="">
                        <textarea name="content" required="required" class="form-control" id="" cols="30"
                            rows="5"></textarea>
                        <button type="submit" class="btn btn-primary mt-2"> submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade w-100  col-10" id="commentModel" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel">Tweet Comments</p>
                    <button type="button" class="close" data-dismiss="modal" onClick="Refresh()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" id='tweet_comment'>
                        <div id="tweet_comment_image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-8">
            <div id="tweets" class="offset-1 scroll-bar mt-5">
            </div>
        </div>
        <div class="col-3 fixed">
            <a class="a" href='profiles/user/{{username}}/'>
                <div id="profile" class=" mt-5">
                    <p>this is a row</p>
                </div>
            </a>
            <div class="mt-5 offset-1">
                Followres : {{follower}}
                </span>

            </div>
        </div>
    </div>


    <script>
        //COMMENT FORM
        function comment_form(tweet) {
            return "<form class='form-control border border-white' method='POST' action='/tweet/comment/'>" +
                `{% csrf_token %}` +
                "<input type='hidden' name='t_id' value=" + tweet.id + ">" +
                "<input class='form-control mt-5' type='text' name='message' placeholder='Enter your comment..'>" +
                "<button type='submit' class='btn btn-white text-primary'> post </button>" +
                "</form>"
        }
    </script>



    <script src="{% static 'src/index.js' %}"></script>


    {% endblock %}