{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- sending the this page data in profile.js -->
<input type="hidden" value="{{me}}" id="me">
<input type="hidden" value="{{username}}" id="username">



<div class="offset-1 col-4 mt-5 p-5">
    <div class="" id="user_profile">
        <h1>Hello this is user profile div</h1>
    </div>
</div>



<div class="col-10">
    <div id="tweets" class="offset-2 scroll-bar mt-5">
        hello this tweet view
    </div>
</div>


<script src="{% static 'src/profile.js'  %}"></script>

{% endblock %}